include $HOME/dotfiles/nano/asm.nanorc
include $HOME/dotfiles/nano/debian.nanorc
include $HOME/dotfiles/nano/guile.nanorc
include $HOME/dotfiles/nano/man.nanorc
include $HOME/dotfiles/nano/patch.nanorc
include $HOME/dotfiles/nano/ruby.nanorc
include $HOME/dotfiles/nano/xml.nanorc
include $HOME/dotfiles/nano/autoconf.nanorc
include $HOME/dotfiles/nano/default.nanorc
include $HOME/dotfiles/nano/html.nanorc
include $HOME/dotfiles/nano/mgp.nanorc
include $HOME/dotfiles/nano/perl.nanorc
include $HOME/dotfiles/nano/rust.nanorc
include $HOME/dotfiles/nano/awk.nanorc
include $HOME/dotfiles/nano/elisp.nanorc
include $HOME/dotfiles/nano/java.nanorc
include $HOME/dotfiles/nano/mutt.nanorc
include $HOME/dotfiles/nano/php.nanorc
include $HOME/dotfiles/nano/sh.nanorc
include $HOME/dotfiles/nano/c.nanorc
include $HOME/dotfiles/nano/fortran.nanorc
include $HOME/dotfiles/nano/javascript.nanorc
include $HOME/dotfiles/nano/nanorc.nanorc
include $HOME/dotfiles/nano/po.nanorc
include $HOME/dotfiles/nano/spec.nanorc
include $HOME/dotfiles/nano/changelog.nanorc
include $HOME/dotfiles/nano/gentoo.nanorc
include $HOME/dotfiles/nano/json.nanorc
include $HOME/dotfiles/nano/nftables.nanorc
include $HOME/dotfiles/nano/postgresql.nanorc
include $HOME/dotfiles/nano/tcl.nanorc
include $HOME/dotfiles/nano/cmake.nanorc
include $HOME/dotfiles/nano/go.nanorc
include $HOME/dotfiles/nano/lua.nanorc
include $HOME/dotfiles/nano/objc.nanorc
include $HOME/dotfiles/nano/pov.nanorc
include $HOME/dotfiles/nano/tex.nanorc
include $HOME/dotfiles/nano/css.nanorc
include $HOME/dotfiles/nano/groff.nanorc
include $HOME/dotfiles/nano/makefile.nanorc
include $HOME/dotfiles/nano/ocaml.nanorc
include $HOME/dotfiles/nano/python.nanorc
include $HOME/dotfiles/nano/texinfo.nanorc